{  "parser": "babel-eslint",  "extends": [    "prettier",    "react-app",    "eslint:recommended",    "plugin:react/recommended"  ],  "env": {    "browser": true,    "es6" : true,    "jest": true  },  "parserOptions": {    "ecmaVersion": 7,    "sourceType": "module",    "ecmaFeatures": {      "globalReturn": true,      "impliedStrict": true,      "jsx": true    }  },  "ecmaFeatures": {    "modules": true,    "spread" : true,    "restParams" : true,    "impliedStrict": true,    "jsx": true  },  "plugins": ["prettier","eslint-plugin-react"],  "rules": {    "prettier/prettier": "error"  }}