{  "env": {    "node" : true,    "es6" : true,    "jest": true  },  "parserOptions": {    "sourceType": "module"  },  "ecmaFeatures": {    "modules": true,    "spread" : true,    "restParams" : true  },  "plugins": ["prettier","eslint-plugin-react"],  "extends": [    "prettier"  ],  "rules": {    "prettier/prettier": "error"  }}